/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.navbar {
  background-color: #4CAF50;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo img {
  max-width: 70px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.agency-info {
  text-align: center;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hexagons {
  display: flex;
  flex-direction: column;
}

.hexagon-container {
  position: relative;
  margin-bottom: 20px;
}

.hexagon-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.form-container {
  display: flex;
  align-items: center;
}

.weather-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather-form label,
.weather-form input,
.weather-form button {
  display: block;
  width: 100%;
}

.weather-form label {
  margin-bottom: 10px;
}

.weather-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.weather-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-form button:hover {
  background-color: #45a049;
}

.about-section {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.contacts {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
